Source: prepare-checkbox-sanity
Section: misc
Priority: optional
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Build-Depends: debhelper (>= 9), dh-modaliases
Standards-Version: 3.9.7
Vcs-Browser: https://github.com/alex-tu-cc/prepare-checkbox-sanity

Package: prepare-checkbox-sanity
Architecture: all
Depends: ${misc:Depends}, fswebcam, obexftp, wmctrl, iperf, mesa-utils,  vim, openssh-server, pastebinit, apt-file, checkbox-ng, plainbox-provider-checkbox, plainbox-provider-resource-generic, plainbox-provider-sru, plainbox-provider-certification-client, fwts
XB-Modaliases: ${modaliases}
Description: a wrapper for checkbox sanity.
 execute prepare-checkbox-sanity to prepare environment for sanity with checkbox.
